[submodule "hardware/mik32v2-shared"]
	path = hardware/mik32v2-shared
	url = https://github.com/MikronMIK32/mik32v2-shared.git
[submodule "hardware/mik32-hal"]
	path = hardware/mik32-hal
	url = https://github.com/su-mt/mik32-hal.git
	branch = main
[submodule "lib/BNO055_SensorAPI"]
	path = lib/BNO055_SensorAPI
	url = https://github.com/boschsensortec/BNO055_SensorAPI.git
